<div class="effectmacro">
  <label class="title">Effect Macro</label>
  {{#each usedOptions as |option|}}
  <div class="form-group">
    <label></label>
    <div class="form-fields">
      <span>{{localize option.label}}</span>
      <button type="button" class="option" data-key="{{option.key}}" id="effectmacro-usedOption">
        <i class="fa-solid fa-edit"></i> {{localize "EFFECTMACRO.APPLYMACRO.EDIT_THIS"}}
      </button>
    </div>
  </div>
  {{/each}}
  {{#if remainingOptions.length}}
  <div class="form-group">
    <label>{{localize "EFFECTMACRO.APPLYMACRO.NEW_TRIGGER"}}</label>
    <div class="form-fields">
      <select class="option" id="effectmacro-unusedOption-select">
        {{{remainingOptions}}}
      </select>
      <button type="button" class="option" id="effectmacro-unusedOption">
        <i class="fa-solid fa-plus"></i> {{localize "EFFECTMACRO.APPLYMACRO.ADD_THIS"}}
      </button>
    </div>
  </div>
  {{/if}}
</div>
