<fieldset class="effectmacro">
  <legend>Effect Macro</legend>

  {{#each usedOptions}}
  <div class="form-group used-option">
    <div class="form-fields">
      <span class="label">{{localize label}}</span>
      <a data-action="macro-edit" data-key="{{key}}"><i class="fa-solid fa-edit"></i></a>
      <a data-action="macro-delete" data-key="{{key}}"><i class="fa-solid fa-trash"></i></a>
    </div>
  </div>
  {{/each}}
  {{#if remainingOptions.length}}
  <div class="form-group">
    <span class="label">{{localize "EFFECTMACRO.AddAnother"}}</span>
    <div class="form-fields">
      <select class="unused-option">
        {{{remainingOptions}}}
      </select>
      <a type="button" data-action="macro-add"><i class="fa-solid fa-plus"></i></a>
    </div>
  </div>
  {{/if}}
  </div>

</fieldset>
